<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <%- include('header') %>

    <main>
        <h2 style="text-align: center; font-family: League Spartan;">Colaboraciones de la empresa</h2>
        <p style="text-align: center;font-family: League Spartan;">El modelo de colaboración de Solopods con otras empresas se basa en alianzas 
            estratégicas, distribución conjunta y marketing compartido. Busca establecer 
            relaciones beneficiosas y afines en la industria de los cigarrillos electrónicos, 
            permitiendo el desarrollo conjunto de productos, la expansión de la distribución 
            y campañas de marketing efectivas para fortalecer la presencia de Solopods en el mercado.
        </p>
        <h3 style="text-align: center;font-family: League Spartan;">Marcas con las que colaboramos</h3>
        <div class="collabSlide">
            <div class = 'Slide'>
                <div class = 'Block'>
                    <img src="https://www.visitgrandola.com/cmgrandola/uploads/poi/image/950/logo_100_montaditos_superok.jpg" height="100" width="160" alt="" />
                </div>
                <div class = 'Block'>
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/logo-kuboking-1541608278.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*" height="100" width="200" alt="" />
                </div>
                <div class = 'Block'>
                    <img src="https://www.lamorea.com/wp-content/uploads/tgb-la-morea-pamplona.png" height="100" width="150" alt="" />
                </div>
                <div class = 'Block'>
                    <img src="https://www.visitgrandola.com/cmgrandola/uploads/poi/image/950/logo_100_montaditos_superok.jpg" height="100" width="160" alt="" />
                </div>
                <div class = 'Block'>
                    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/logo-kuboking-1541608278.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*" height="100" width="200" alt="" />
                </div>
                <div class = 'Block'>
                    <img src="https://www.lamorea.com/wp-content/uploads/tgb-la-morea-pamplona.png" height="100" width="150" alt="" />
                </div>
            </div>
        </div>
    </main>

    <%- include('footer') %>
    </body>
</html>