<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/header.css' />
    </head>
    <body>
        <header>
            <div class = "header">
                <a href="/"><h1>Solopods</h1></a>
            </div>
            <div class = "topnav">
                    <a href="/products">Productos</a>
                    <a href="/services">Servicios</a>
                    <a href="/collabs">Colaboraciones</a>
                    <a href="/contact">Contacto</a>
                    <a href="/login">Login</a>
            </div>
        </header>
    </body>
</html>