<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/header.css' />
    </head>
    <body>
        <header>
            <div class = "header">
                <h1>Solopods</h1>
            </div>
            <div class = "topnav">
                    <a href="">Productos</a>
                    <a href="">Servicios</a>
                    <a href="">Colaboraciones</a>
                    <a href="">Contacto</a>
                    <a href="">Login</a>
            </div>
        </header>
    </body>
</html>