<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/products.css' />
        <title><%= title %></title>
    </head>
    <body>
    <%- include('header') %>

    <div class="banner">
        <img src="/images/bannerProd.jpeg" alt="Banner 1">
      </div>
    
      <div class="product-container">
        <div class="product-box" id="product1">
          <img src="/images/dosVapesPiscina.jpeg" alt="600 caladas">
          <div class="dropdown-content">
            <!-- Contenido de la tabla para el desplegable del producto 1 -->
            <ul>   
                <li>Strawberry Ice</li>
                <li>Strawberry Mango</li>
                <li>Cotton Candy</li>
                <li>Candy Rainbow</li>
                <li>Cola Ice</li>
                <li>Red Bull</li>
                <li>Gummy Bear Ice</li>
                <li>Grape Lemonade Ice</li>
                <li>Grape</li>
                <li>Strawberry Ice Cream</li>
                <li>Shake Shake Ice</li>
                <li>Strawberry Banana</li>
                <li>Banana Ice</li>
                <li>Blueberry Ice</li>
                <li>Mix Berries Ice</li>
                <li>Cherry-Cola</li>
                <li>Strawberry Kiwi</li>
                <li>Peach Ice</li>
                <li>Blue Razz Lemonade</li>
                <li>Watermelon Ice</li>
                <li>Mamba</li>
                <li>Strawberry Watermelon</li>
                <li>Pineapple Grape</li>
            </ul>
          </div>
        </div>
    
        <div class="product-box" id="product2">
          <img src="/images/dosVapesAgua.jpeg" alt="2800 caladas">
          <div class="dropdown-content">
            <!-- Contenido de la tabla para el desplegable del producto 2 -->
            <ul>   
              <li>Strawberry Ice</li>
              <li>Strawberry Mango</li>
              <li>Cotton Candy</li>
              <li>Candy Rainbow</li>
              <li>Cola Ice</li>
              <li>Red Bull</li>
              <li>Gummy Bear Ice</li>
              <li>Grape Lemonade Ice</li>
              <li>Grape</li>
              <li>Strawberry Ice Cream</li>
              <li>Shake Shake Ice</li>
              <li>Strawberry Banana</li>
              <li>Banana Ice</li>
              <li>Blueberry Ice</li>
              <li>Mix Berries Ice</li>
              <li>Cherry-Cola</li>
              <li>Strawberry Kiwi</li>
              <li>Peach Ice</li>
              <li>Blue Razz Lemonade</li>
              <li>Watermelon Ice</li>
              <li>Mamba</li>
              <li>Strawberry Watermelon</li>
              <li>Pineapple Grape</li>
          </ul>
          </div>
        </div>
      </div>

      <%- include('footer') %>
    </body>
</html>