<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
    <%- include('header') %>

    Esta es la pagina de productos

    <%- include('footer') %>
    </body>
</html>