<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/products.css' />
        <title><%= title %></title>
    </head>
    <body>
    <%- include('header') %>

    <div class="banner">
        <img src="/images/" alt="Banner 1">
        <img src="/images/banner2.jpg" alt="Banner 2">
        <img src="/images/banner3.jpg" alt="Banner 3">
      </div>
    
      <div class="product-container">
        <div class="product-box" id="product1">
          <img src="/images/puff2800todos.jpeg" alt="Producto 1">
          <div class="dropdown-content">
            <!-- Contenido de la tabla para el desplegable del producto 1 -->
            <ul>   
                <li>Watermelon</li>
                <li>Coca cola</li>
                <li>Kiwi</li>
            </ul>
          </div>
        </div>
    
        <div class="product-box" id="product2">
          <img src="/images/puff2800todos.jpeg" alt="Producto 2">
          <div class="dropdown-content">
            <!-- Contenido de la tabla para el desplegable del producto 2 -->
            <table>
              <!-- Contenido de la tabla -->
            </table>
          </div>
        </div>
      </div>

    </body>
</html>