<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <%- include('header') %>

    <main>
        <p style="text-align: center; font-family: League Spartan;">Solopods, como fabricante y distribuidor de cigarrillos electrónicos (vapes), 
            opera en dos modalidades de trabajo clave: la venta al por mayor y la venta al 
            por menor. En la modalidad al por mayor, Solopods se enfoca en la distribución 
            a otros negocios y minoristas. Aquí, se atienden pedidos de gran volumen y se 
            ofrecen descuentos por cantidad, lo que permite a los clientes revender los 
            productos de Solopods en sus tiendas o plataformas de venta en línea. Esta 
            estrategia es esencial para llegar a un mercado amplio y maximizar las ventas 
            a través de una sólida red de distribución. Por otro lado, en la modalidad al 
            por menor, Solopods vende directamente a los consumidores finales a través de 
            tiendas físicas o su plataforma de comercio electrónico. Esta forma de trabajo 
            permite a Solopods construir su marca, establecer relaciones directas con los 
            clientes y ofrecer un servicio personalizado. Ambas estrategias, al por mayor 
            y al por menor, son complementarias y contribuyen a la expansión efectiva de la
            presencia de Solopods en el mercado de cigarrillos electrónicos. 
        </p>
    </main>

    <div class="boxes">
    <div class="box1">
        <p><h5>AL POR MAYOR</h5> Nuestro servicio al por mayor de venta de vapes se especializa en proveer una amplia gama de dispositivos de vapeo y productos relacionados a distribuidores y minoristas a gran escala. Con una selección diversa de vapes, desde dispositivos básicos para principiantes hasta modelos avanzados para usuarios experimentados, nuestro servicio al por mayor busca satisfacer las necesidades y demandas de una clientela variada</p>
    </div>
    <div class="box2">
        <p><h5>AL POR MENOR</h5> Nuestro servicio al por mayor de venta de vapes se especializa en proveer una amplia gama de dispositivos de vapeo y productos relacionados a distribuidores y minoristas a gran escala. Con una selección diversa de vapes, desde dispositivos básicos para principiantes hasta modelos avanzados para usuarios experimentados, nuestro servicio al por mayor busca satisfacer las necesidades y demandas de una clientela variada</p>
    </div>
    </div>

    <div class="botonDiv">
    <div class="botonLogin">
        <button><a href="/login">Login o Registro</a></button>
    </div>
    </div>

    <%- include('footer') %>
    </body>
</html>